/*** GENERAL ***/

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
	background-color: #baad99;
	line-height: 1.5;
}

#container {
	height: 80em;
}

#main {
	max-width: 90%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	border-radius: 5px;
}

h3 {
	font-size: 1.250em;
	padding: 1em 0;
	text-align: center;
	color: #6d2416;
}

/*** HEADER ***/

#logo {
	text-align: center;
}

header {
	margin-bottom: 2em;
	padding-top: 2em;
	background-color: #6d2416;
	border-bottom: 5px solid #a89d8a;
	box-shadow: 0 0 10px #555555;
}

h1,
h2 {
	color: #baad99;
}

h1 {
	font-family: "Rock Salt", sans-serif;
	font-size: 1.5625em; 
  text-shadow: 1px 1px 1px rgba(20, 20, 20, .7);
}

h2 {
	font-size: 1.250em;
}

/*** NAVIGATION ***/

nav {
	text-align: center;
	padding: 1.5em 0;
	margin: 1em 0 0;
}

nav li {
	display: inline-block;
	font-size: 0.9375em;
}

nav a {
	padding: 15px 10px;
	color: #baad99;
}

nav a:hover {
	border-bottom: 2px solid #baad99;
}

nav a.selected {
	font-weight: 700;
}

/*** FOOTER ***/

footer {
	font-size: 0.750em;
	text-align: center;
	clear: both;
	margin: 10em 0 0 0;
	padding: 60px 0 20px;
	background-color: #6d2416;
  color: #baad99;
}

footer a {
    color: #baad99;
    border-bottom: 1px dotted;
}

footer a:hover {
    font-weight: bold;
}

/*** HOME PAGE ***/

.welcome-image img {
	display: block;
	max-width: 80%;
	margin: 3em auto 0;
	border: 10px solid #a89d8a;
	border-radius: 5px;
}

.welcome {
	margin: 1em 0 0 0;
}

.welcome p,
.welcome h4 {
	max-width: 80%;
	margin: 2em auto;
	text-align: center;
	color: #6d2416;
}

.welcome h4 {
	font-size: 1.5625em;
}

blockquote {
	max-width: 15em;
	margin: 0 auto;
	position: relative;
	top: 2em;
	font-style: italic;
	font-size: 1.125em;
  color: #6d2416;
	text-align: center;
	padding: 1em 0;
	clear: both;
	border-top: 3px solid #a89d8a;
	border-bottom: 3px solid #a89d8a;
}

/*** GALLERY PAGE ***/

.gallery {
	display: block;
}

.gallery li {
	max-width: 47%;
	margin: 1.5%;
	float: left;
	background-color: #a89d8a;
	border-radius: 5px;
	border: 10px solid #a89d8a;  
}

.gallery-nav a {
	display: inline-block;
	color: #6d2416;
}

.gallery-nav a:hover {
    font-weight: bold;
}

.gallery-back a {
	margin-left: 2em;
	margin-bottom: 1.5em;
}

.gallery-next a {
	float: right;
	margin-right: 3em;
	margin-top: 1.5em;
	clear: both;
}

/* Create figcaption overlay */

figure {
  position: relative;
}

figcaption {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(168, 157, 138, .9);
  opacity: 0;
	font-size: 1.25em;
}

/* Show figcaption overlay on hover */

figcaption:hover {
  opacity: 1;
}

/*Scale images on hover*/

figure {
  -webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}

figure:hover {
  -webkit-transform: scale(.95);
	-moz-transform: scale(.95);
  transform: scale(.95);
}

/*** ABOUT PAGE ***/

.about-image img {
	display: block;
	max-width: 80%;
	margin: 3em auto 0;
	border: 10px solid #a89d8a;
	border-radius: 5px;
}

.profile h4 {
	font-size: 1.125em;
	color: #6d2416;
	text-align: center;
	margin-bottom: 2em;
	margin-top: -0.8em;
}

.profile {
	margin: 1em auto;
	max-width: 80%;
}

.profile p {
	color: #303030;
}

.about-nav {
	margin: 5em 0 0 0;
}

.about-nav a {
	font-size: 0.9375em;
	display: block;
	color: #6d2416;
	padding: 5px;
	text-align: center;
}

.about-nav a:hover {
	font-weight: bold;
}

/*** CONTACT PAGE ***/

.contact-image img {
	display: block;
	max-width: 80%;
	margin: 3em auto 0;
	border: 10px solid #a89d8a;
	border-radius: 5px;
}

.contact-info {
	margin: 1em auto;
	margin-bottom: 3em;
}

.mail a {
	display: block;
	margin: 1em 0;
	padding: 5px;
	text-align: center;
	color: #6d2416;
}

.mail a:hover {
	font-weight: bold;
}

.contact-nav a {
	font-size: 0.9375em;
	display: block;
	color: #6d2416;
	margin: 5em 0;
	padding: 5px;
	text-align: center;
}

.contact-nav a:hover {
	font-weight: bold;
}

/*** MEDIA QUERIES ***/

@media screen and (min-width: 30em) {

	.welcome h4 {
		max-width: 14em;
	}

	blockquote {
		max-width: 18em;
	}
}

@media screen and (min-width: 41em) {

    #container {
		  height: 70em;
	  }

    header {
		  overflow: auto;
	  }

    #logo {
		  float: left;
		  margin-left: 10%;
	  }

    nav {
		  float: right;
		  margin-right: 10%;
		  margin-top: 2em;
		  font-size: 1.125em;
	  }

    .welcome h4 {
		  font-size: 1.6875em;
      max-width: 20em;
	  }

	  blockquote {
		  max-width: 26em;
		  font-size: 1.125em;
	  }

    .gallery li {
		  width: 30.3333333333%;
	  }
}

@media screen and (min-width: 56em) {

	  #container {
		  height: 60em;
	  }

    h2 {
		  margin-bottom: 2em;
	  }

    .welcome h4 {
		   max-width: 14em;
	   }

     blockquote {
		  margin-top: 8em;
		  max-width: 33em;
	   }

    .gallery li {
		  width: 22%;
	  }

    .welcome-image img,
    .about-image img,
    .contact-image img {
		  max-width: 60%;
		  float: left;
		  margin: 0 2em 0 0;
	  }

    .welcome,
    .profile,
    .contact-info {
		  overflow: auto;
		  margin: 5em 0;
	  }

     .about-nav {
		  margin: 7em 0 0 0;
	   }

     .contact-nav {
		  margin-top: 10em;
	   }
}

@media screen and (min-width: 73em) {

    #main {
		  max-width: 80%;
	  }

    h1 {
		  font-size: 1.875em;
	  }
}