/* ====== GENERAL ====== */

* {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
}

body {
	  font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #6d2416;
	  background-color: #baad99;
	  line-height: 1.5;
}

#main {
    max-width: 90%;
    margin: 0 auto;
    padding: 12em 0 0;
}

a {
    color: #baad99;
	  text-decoration: none;
}

a:hover {
    color: #d5caba;
}

li {
    list-style: none;
}

ul {
    padding: 0; /*Needed to center gallery*/
}

figure {
    margin: 0;
}

img {
    display: block;
	  max-width: 100%;
    height: auto;
    text-align: center;
}

header h1,
header h2,
header p,
header li,
header ul,
footer p {
    margin: 0;
    padding: 0;
}

hr {
    width: 90%;
    border: 1px solid #a89d8a;
}

h2,
h3 {
    font-weight: normal;
}


/* ====== HEADER ====== */

header h1 {
    font-size: 1.25em;
    font-family: "Rock Salt", sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(20, 20, 20, .7); /* offset-x | offset-y | blur-radius | color */
}

header p {
    font-size: 1.125em;
    margin: -0.2em 0 0 3em;
}

header {
    background-color: rgba(109, 36, 22, 0.95);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 1.5em 1.5em 0;
    overflow: auto;
	  border-bottom: 5px solid #a89d8a;
    -moz-box-shadow: 0 0 10px #555555;
    -webkit-box-shadow: 0 0 10px #555555;
	  box-shadow: 0 0 10px #555555;
}

#logo {
    float: left;
    margin: 0 0 1.5em 0;
}

#menu-button {
    background-color: #6b2416;
    color: #baad99;
    padding: 0.6em;
    font-size: 1.125em;
    float: right;
    border: solid;
    border-radius: 7px;
    -moz-box-shadow: 1px 1px 1px rgba(20, 20, 20, .7);
    -webkit-box-shadow: 1px 1px 1px rgba(20, 20, 20, .7);
    box-shadow: 1px 1px 1px rgba(20, 20, 20, .7);
    -moz-transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;  /* property name | duration | timing-function*/
}

#menu-button:hover {
    background-color: #baad99;
    color: #6b2416;
}

#nav-menu {
    margin: 1em auto 0;
    text-align: center;
    display: none;
}

nav {
    padding: 0;
    clear: both;
}

nav li {
    clear: both;
    padding: 0.8em 0;
}

#logo:hover {
    font-weight: normal;
}

nav li a {
    font-size: 1.125em;
}

nav li:first-child {
    padding-top: 1em;
}

nav li:last-child {
    padding-bottom: 1em;
}

nav li a:hover {
    background-color: #baad99;
    color: #6b2416;
    border-radius: 5px;
    padding: 0.8em;
    -moz-transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}


/* ====== HOME ====== */

#intro {
    margin: 0 auto;
    padding: 0 0 8em 0;
    text-align: center;
}

.title {
    text-align: center;
    padding: 0 0 1em 0;
    font-size: 1.875em;
}

.intro-image {
    max-width: 80%;
    margin: 0 auto;
    border: 10px solid #a89d8a;
    border-radius: 5px;
}

blockquote {
    max-width: 15em;
    margin: 0 auto;
    padding: 1em 0 4em 0;
    text-align: center;
    font-size: 1.5em;
    clear: both;
}


/* ====== GALLERY ====== */

/* Flexible box layout*/

.flex-box {
    -moz-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; /*flex-direction | flex-wrap*/
    -moz-justify-content: center;
    -ms-justify-content: space-around;
    -webkit-justify-content: center;
    justify-content: center;
    clear: both;
}

#gallery {
    margin: 0 auto;
    padding: 5em 0 6em 0;
    text-align: center;
    overflow: auto;
}

#gallery img {
    margin: 0 auto;
}

#gallery h2 {
    padding: 1em 0;
    font-size: 1.625em;
}

#gallery h3 {
    color:  #6d2416;
    font-size: 1.5em;
}

#gallery li {
	  width: 47%;
    margin: 1.5%;
	  background-color: #a89d8a;
	  border-radius: 5px;
	  border: 10px solid #a89d8a;
    -moz-transition: border-color 0.6s ease;
    -webkit-transition: border-color 0.6s ease;
    transition: border-color 0.6s ease;
}

h2#pottery {
    padding-top: 3em;
}

.back {
    float: left;
    margin-top: 3em;
}

.next {
    float: right;
    margin-top: 3em;
}

.back a,
.next a {
    color: #6d2416;
    padding: 0.6em;
    display: inline-block;
}

.gallery-nav {
    margin: 0 auto;
    max-width: 90%;
    overflow: hidden;
}

.lightbox-credit {
    text-align: center;
    font-size: 0.75em;
}

.lightbox-credit a {
    color: inherit;
    border-bottom: 1px dotted;
    margin: 0 0 0 0.5em;
    padding: 0 0 0.2em 0;
}

/* Create figcaption overlay */

figure {
    margin: 0;
    position: relative;
}

figcaption {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(168, 157, 138, 0.9);
    opacity: 0;
	  font-size: 1.25em;
}

/* Show figcaption overlay on hover */

figcaption:hover {
    opacity: 1;
}

/*Scale images on hover*/

figure {
	  -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
	  transition: all 0.4s; /* property name | duration */
}

figure:hover {
    -moz-transform: scale(.95);
    -webkit-transform: scale(.95);
    transform: scale(.95); /* Shrinks element - scaleX(.95) and scaleY(.95) */
}

#gallery .flex-item img {
	  border: 4px solid #292d38;
    border-radius: 5px;
	  -moz-transition: border-color 0.6s ease;
    -webkit-transition: border-color 0.6s ease;
	  transition: border-color 0.6s ease;
}

#gallery .flex-item img:hover {
	  border-color: #d5caba;
}

.lightbox-credit a:hover,
.back a:hover,
.next a:hover {
    color: #d5caba;
}


/* ====== ABOUT ====== */

#about {
    margin: 0 auto;
    padding: 6em 2em;
}

#about h2 {
    font-size: 1.625em;
}

#about h3 {
    font-size: 1.5em;
}

#about h2,
#about h3 {
    text-align: center;
}

.about-image img {
    max-width: 80%;
	  margin: 3em auto;
	  border: 10px solid #a89d8a;
	  border-radius: 5px;
}

.about-me {
    margin: 1em auto;
    max-width: 40em;
}

.about-me p {
    color: #303030;
    font-size: 1.125em;
}


/* ====== CONTACT ====== */

#contact {
    margin: 0 auto;
    padding: 6em 0 4em;
    text-align: center;
}

#contact h2 {
    font-size: 1.625em;
}

.contact-image img {
    max-width: 80%;
	  margin: 3em auto;
	  border: 10px solid #a89d8a;
	  border-radius: 5px;
}

.text-input,
textarea {
    display: block;
    margin: 0.5em auto;
    padding: 0 0 0 1em;
    width: 90%;
    border: 1px solid #969696;
    border-radius: 5px;
    background-color: #fafafa;
    color: #333;
}

.text-input {
    height: 3em;
}

textarea {
    height: 10em;
    padding-top: 0.5em;
}

.send-email {
    display: block;
    margin: 0.5em auto;
    padding: 0.6em 2em;
    border: 1px solid #baad99;
    border-radius: 5px;
    background-color: #702a1b;
    color: #baad99;
    font-size: 1.125em;
    -moz-transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.send-email:hover {
    border: 1px solid #702a1b;
    background-color: #baad99;
    color: #702a1b;
}


/* ====== THANK YOU FOR THE EMAIL ====== */

#thanks {
    margin: 0 auto;
    padding: 10em 0 8em 0;
    text-align: center;
}

#thanks a {
    color: #702a1b;
    border-bottom: 1px dotted;
    padding: 0.2em;
}

#thanks h2 a:hover {
    color: #d5caba;
}


/* ====== FOOTER ====== */

footer {
    font-size: 0.6250em;
    padding: 0.5em;
    background-color: rgba(109, 36, 22, 0.95);
    color: #baad99;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    border-top: 2px solid #a89d8a;
	  -moz-box-shadow: 0 0 2px #555555;
	  -webkit-box-shadow: 0 0 2px #555555;
	  box-shadow: 0 0 2px #555555;
}

footer p:first-child {
    padding: 0 0 0.5em 0;
}

footer a {
    border-bottom: 1px dotted;
}


/* ====== MEDIA QUERIES ====== */

@media screen and (min-width: 40em) {

    #logo {
        padding-left: 3em;
    }

    #menu-button {
        margin-right: 3em;
    }

    #gallery li {
	      width: 30.3333333333%;
    }

    /*Contact*/
    .text-input,
    textarea {
        max-width: 40em;
    }

    blockquote {
        max-width: 20em;
    }

}

@media screen and (min-width: 56.25em) {

    nav li {
        display: inline-block;
        width: 6em;
        margin: 0 2em 0 0;
    }

}

@media screen and (min-width: 68.75em) {

    #logo {
        padding-left: 5em;
    }

    #menu-button {
        margin-right: 5em;
    }

    header h1 {
        font-size: 1.5625em;
    }

    header p {
        font-size: 1.4375em;
    }

    #gallery li {
        width: 22%;
    }

}

@media screen and (min-width: 87.5em) {

    blockquote {
        max-width: 40em;
    }

}

@media screen and (min-width: 93.75em) {

    #logo {
        padding-left: 7em;
    }

    #menu-button {
        margin-right: 7em;
    }

}